.sky {
    /* background-color:lightskyblue; */
    background: linear-gradient( lightskyblue 60%, dodgerblue);
    width: 100vw;
    height: 45vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
  }
.horizon {
  background: linear-gradient(90deg, green, darkgreen);
  width: 100vw;
  height: 8vh;
  position: fixed;
  left: 0;
  top: 46vh;
  z-index: -1;
}

.hill {
  width: 25vw;
  height: 10vh;
  position: fixed;
  top: 40vh;
}

.hill.right {
  z-index: -3;
  right: -8vw;
  transform: scaleX(-2.5) scaleY(1.15);
  background-color: rgb(100 153 92);
  border-radius: 10% 90% 0 0;
}
.hill.left {
  z-index: -2;
  left: -10vw;
  transform: scaleX(4) scaleY(0.9);
  background-color: rgb(64 143 64);
  border-radius: 10% 90% 0 0;
}
.hill.middle {
  z-index: -4;
  left: 60vw;
  right: 10vw;
  transform: scaleX(4) scaleY(1.35);
  background-color: rgb(121 169 121);
  border-radius: 50% 90% 0 0;
}

.barn-fg {
  background-color: hsl(43, 34%, 22%);
  width: 100vw;
  height: 46vh;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -3;
}

.title {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
 }

.title h1 {
  font-size: 2.4rem;
  color: whitesmoke;
}