.quoteBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5%;
  }

.quote-bubble, .quoteContainer {
    font-family: 'Comfortaa', cursive;
    color: orangered;
    position: absolute;
    max-width: 80%;
    margin: 0 auto;
    top: 25vh;
    left: 20vw;
    right: 20vw;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 10px;
    z-index: 5;
    height: max-content;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.quote-bubble::after {
    content: '';
    position: relative;
    top: 25px;
    transform: rotate(20deg)
                scale(1.5);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid whitesmoke;
    display: inline-block;
    z-index: 4;
}

.quote-bubble p {
    margin-bottom: -10px;
}

.button {
    padding: 10px;
}

.visible {
    opacity: 1.0;
}

.invisible {
    opacity: 0.0;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
    
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: orangered;
  }