.joke {
    font-family: 'Comfortaa', cursive;
    color: red;
    position: absolute;
    top: 25%;
    left: 10%;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 10px;
}

.country {
    font-family: 'Comfortaa', cursive;
    color: red;
    position: absolute;
    top: 33%;
    left: 10%;
    background-color: whitesmoke;
    padding: 8px;
    border-radius: 10px;
}

.flag {
    font-size: 3rem;
    background-color: transparent;
    top: 29%;
    padding: 2px;
}

.show {
    opacity: 100%;
}

.noshow {
    opacity: 0%;
}